.container{
    display:flex;
}
.paragraph{
    flex: 1;
    margin: 10px;
}
p{
    text-align: center;
}
p{
    text-align: center;
}
h1{
    text-align: center;
}
p1{
    font-family: source sans pro;
    color: #591BB7;
}
h1{
    font-family: source sans pro;
    color: #591BB7;
}
p2{
    font-family: SFUIText;
    color: #0D24F6
}